<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oasystem.dao.schedule.NoteMapper">
    <resultMap id="BaseResultMap" type="com.oasystem.model.Note">
        <!--@mbg.generated-->
        <!--@Table note-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
        <result column="endTime" jdbcType="TIMESTAMP" property="endtime"/>
        <result column="remarks" jdbcType="LONGVARCHAR" property="remarks"/>
        <result column="is_done" jdbcType="INTEGER" property="isDone"/>
        <result column="note_group" jdbcType="INTEGER" property="noteGroup"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, content, endTime, remarks, is_done, note_group,user_id
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from note
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from note
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.oasystem.model.Note" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into note (content, endTime, remarks,
        is_done, note_group,user_id)
        values (#{content,jdbcType=LONGVARCHAR}, #{endtime,jdbcType=TIMESTAMP}, #{remarks,jdbcType=LONGVARCHAR},
        #{isDone,jdbcType=INTEGER}, #{noteGroup,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.oasystem.model.Note"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into note
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="content != null">
                content,
            </if>
            <if test="endtime != null">
                endTime,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
            <if test="isDone != null">
                is_done,
            </if>
            <if test="noteGroup != null">
                note_group,
            </if>
            <if test="userId != null">
                user_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="endtime != null">
                #{endtime,jdbcType=TIMESTAMP},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=LONGVARCHAR},
            </if>
            <if test="isDone != null">
                #{isDone,jdbcType=INTEGER},
            </if>
            <if test="noteGroup != null">
                #{noteGroup,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.oasystem.model.Note">
        <!--@mbg.generated-->
        update note
        <set>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="endtime != null">
                endTime = #{endtime,jdbcType=TIMESTAMP},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=LONGVARCHAR},
            </if>
            <if test="isDone != null">
                is_done = #{isDone,jdbcType=INTEGER},
            </if>
            <if test="noteGroup != null">
                note_group = #{noteGroup,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.oasystem.model.Note">
        <!--@mbg.generated-->
        update note
        set content = #{content,jdbcType=LONGVARCHAR},
        endTime = #{endtime,jdbcType=TIMESTAMP},
        remarks = #{remarks,jdbcType=LONGVARCHAR},
        is_done = #{isDone,jdbcType=INTEGER},
        note_group = #{noteGroup,jdbcType=INTEGER}
        user_id = #{userId,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--auto generated by MybatisCodeHelper on 2020-02-29-->
    <select id="selectAllByNoteGroup" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from note
        where note_group=#{noteGroup,jdbcType=INTEGER} and user_id=#{userId,jdbcType=INTEGER}
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-02-29-->
    <update id="updateIsDoneById">
        update note
        set is_done=#{updatedIsDone,jdbcType=INTEGER}
        <where>
            <if test="id != null">
                and id=#{id,jdbcType=INTEGER}
            </if>
        </where>
    </update>


</mapper>